.header-class {
  background-color: DarkRed;
  color: Khaki;
  text-align: center;
}

main {
  background-color: lightGrey;
  padding: 1em;
}

body {
  background-image: url(record.png);
  background-repeat: repeat;
  margin: 0;

}
